/* Set common properties for all elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set font family for the body */
body {
  font-family: Arial, sans-serif;
}

/* Style label elements */
label {
  font-size: 20px;
  font-weight: bold;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/* Style container elements */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

/* Style headings */
h2 {
  text-align: left;
  margin-bottom: 20px;
}

/* Style action and table action elements */
.actions,
.table-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

/* Style button elements */
button {
  background-color: #f15959;
  color: #fff;
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0.4rem;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #5a9ee0;
}

/* Style table container elements */
.table-container {
  margin-right: 20px;
}

/* Style table elements */
table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

th,
td {
  border: none;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.actions th {
  background-color: #5ef3a6;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

tr:hover {
  background-color: #ddd;
}

/* Style input elements */
input[type="text"],
input[type="number"] {
  border: 1px solid #ccc;
  padding: 6px;
  margin-bottom: 8px;
  width: 100%;
}

input[type="button"] {
  background-color: #87f768;
  color: #fff;
  border: none;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

input[type="button"]:hover {
  background-color: #5a9ee0;
}

/* Style checkbox cell elements */
.checkbox-cell {
  width: 0.1rem;
  text-align: center;
  margin-right: 10px;
}

/* Style item name and price elements */
.item-name,
.price {
  font-size: 29px;
  background-color: #5a9ee0;
  color: #fff;
  word-break: break-word;
}

/* Style price cell elements */
.price-cell {
  width: 200px;
  text-align: left;
  font-size: 24px;
  background-color: #0471dd;
  color: #fff;
  padding: 0.4rem;
  border-left: 1px solid #ccc;
}

.item-name {
  min-width: 8rem;
}

/* Style checkbox elements */
input[type=checkbox] {
  margin: 1rem;
  transform: scale(2);
}

/* Style checkmark elements */
.checkmark {
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #383838;
  margin-left: 10px;
}

.checkmark:hover {
  background-color: #5a9ee0;
}

/* Style checked row elements */
.row.checked {
  background-color: #5a9ee0;
}

/* Style total price element */
#totalPrice {
  border: 1px solid #5a9ee0;
  background-color: #5a9ee0;
  border-radius: 1rem;
  color: #fff;
  padding: 0.5rem;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
